.advertise-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 90px;
}

.advertise-data{
    /* border: 1px solid; */
    margin-top: 50px;
    width: 600px;
    margin-left: 70px;
}

.advertise-data h1{
    font-size: 60px;
    font-style: italic;
}
.advertise-data p{
    background-color: rgba(68, 71, 71, 0.381);
    /* border: 1px solid; */
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
}

.advertise-img img {
    height: 700px;
    width: 450px;
    margin-right: 50px;
    border-radius: 5px;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

