.login-container{
    height: 100vh;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    
}

.form{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    height: 100vh;
    width: 550px;
    margin-left: 200px;
    /* background-color:rgba(128, 128, 128, 0.504); */
}
.form h1{
    margin-top: 150px;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
   
}
.form h2{
    font-size:50px ;
    font-weight: 500;
     
}
.form p{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.form h5{
    margin-top: 70px;
    font-size: 16px;
    font-weight: 100;
}
.form h5 b{
    color:black;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.form label{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 5px;
    display: flex;
    gap: 8px;
}
.form label h4{
    font-size: 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.692);
}
.form input{
    width: 300px;
    padding: 6px;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
}
.login-btn{
    width:100px;
    padding: 10px;
    margin-top: 40px;
    background-color:rgba(58, 57, 57, 0.881);
    cursor: pointer;
    border-radius: 5px;
    color: aliceblue;
}

.login-container img{
    height: 100vh;
    width: 600px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}