nav{
    background-color: rgba(128, 128, 128, 0.134);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  
}
.linkText{
    color:black;
    text-decoration: none;
}
.logo{
    /* background-color: aquamarine; */
    font-size: 20px;
    margin-left: 20px;
}
.logo h2{
    margin-left: 40px;
}
.list ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    
    /* background-color: aquamarine; */
}

.list ul li:hover{
    transition: all;
    cursor: pointer;
    text-decoration: underline;
}

nav button{
    padding: 2px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 20px;
    width: 120px;
    
}
 button h2{
    margin-top: 3px;
}