footer{
    /* display: flex; */
    /* justify-content:space-evenly; */
    margin-top: 150px;
    /* margin-bottom: 200px; */
    /* gap: 100px; */
    background-color: rgba(128, 128, 128, 0.345);
    /* border: 1px solid; */
    height: 350px;
    padding: 20px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.left-footer{
    width:500px;
    margin-left: 30px;
}

.left-footer p{
    margin-top: 20px;
    font-size: 18px;
}

.center-footer{
    margin-left: 130px;
}

.center-footer ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    
}

.center-footer ul li{
    list-style: none;
    
}

.right-footer{
    margin-left: 100px;
    width:500px;
}

.right-footer p{
    font-size: 17px;
    margin-top: 20px;
}

.right-footer input{
    margin-top: 20px;
    border-radius: 5px;
    padding: 7px;
    margin-right: 4px;
    background-color: rgba(245, 245, 245, 0.632);
}


.footer-btn{
    padding: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.711);
    border-radius: 5px;
   
}

.bottom-footer{
    margin-left: 180px;
    margin-top: 40px;
    font-size: 18px;
}

.footer-icons{
    font-size: 23px;
    margin-top: 40px;
    margin-left: 200px;
    display: flex;
    gap: 20px;
}

